 .u-section-1 {
  background-image: linear-gradient(to right, #58bc48, #4d7847);
}

.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-image-1 {
  width: 411px;
  height: 389px;
  margin: 150px auto 0 64px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: -389px 90px 0 484px;
}

.u-section-1 .u-btn-1 {
  box-shadow: 0px -2px 0px 0px rgba(255,228,86,1);
  font-size: 1.125rem;
  transition-duration: 0.5s;
  font-weight: 700;
  background-image: none;
  margin: 10px 354px 0 auto;
  padding: 0 19px 0 18px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.3889em;
}

.u-section-1 .u-btn-2 {
  box-shadow: 0px -2px 0px 0px rgba(255,228,86,1);
  font-size: 1.125rem;
  transition-duration: 0.5s;
  font-weight: 700;
  background-image: none;
  margin: 11px 323px 0 auto;
  padding: 0 19px 0 18px;
}

.u-section-1 .u-icon-2 {
  font-size: 2.3889em;
}

.u-section-1 .u-image-2 {
  width: 355px;
  height: 60px;
  margin: 15px 301px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: -9px 710px 0 110px;
}

.u-section-1 .u-line-1 {
  height: 9px;
  transform-origin: center top;
  width: 0;
  margin: -2px auto 0 244px;
}

.u-section-1 .u-image-3 {
  width: 321px;
  height: 55px;
  margin: -15px 335px 0 auto;
}

.u-section-1 .u-line-2 {
  height: 5px;
  transform-origin: center top;
  width: 0;
  margin: -13px auto 0 137px;
}

.u-section-1 .u-line-3 {
  height: 2px;
  transform-origin: center top;
  width: 0;
  margin: 33px auto 29px 137px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 111px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: -364px;
    margin-right: 16px;
    margin-left: 424px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 215px;
    margin-left: 424px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-right: 184px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 16px;
    margin-right: 161px;
    margin-left: 424px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -77px;
    margin-right: 566px;
    margin-left: 54px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 149px;
    margin-left: 44px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -103px;
    margin-right: 195px;
    margin-left: 424px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 57px;
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    margin-bottom: 1px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 120px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 500px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-left: 185px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 169px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 19px;
    margin-right: 196px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
    margin-top: -514px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 511px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -27px;
    margin-right: auto;
    margin-left: 175px;
  }

  .u-section-1 .u-line-2 {
    margin-top: -40px;
  }

  .u-section-1 .u-line-3 {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 123px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 49px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -501px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 493px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -17px;
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    margin-top: -30px;
  }

  .u-section-1 .u-line-3 {
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-image-1 {
    height: 288px;
    width: 289px;
    margin-top: 93px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-image-2 {
    height: 57px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -474px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 482px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -32px;
  }

  .u-section-1 .u-line-2 {
    margin-top: -80px;
  }

  .u-section-1 .u-line-3 {
    margin-bottom: 60px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 472px;
}

.u-section-2 .u-group-1 {
  min-height: 392px;
  --radius: 19px;
  height: auto;
  width: 1041px;
  margin: 31px auto 49px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 264px;
  height: 264px;
  margin: 19px auto 0 19px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -264px 43px 0 331px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 11px 43px 0 331px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 33px;
    margin-bottom: 33px;
    min-height: 368px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 218px;
    height: 218px;
    margin-top: 35px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -242px;
    margin-right: 0;
    margin-left: 273px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 21px;
    margin-bottom: 21px;
    min-height: 545px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 12px 0;
  }

  .u-section-2 .u-image-1 {
    width: 192px;
    height: 192px;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 22px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-bottom: 45px;
    min-height: 521px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 19px;
    margin-bottom: 19px;
    min-height: 582px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 65px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 736px;
  margin: 17px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: 540px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 560px;
}

.u-section-4 .u-image-1 {
  width: 358px;
  height: 391px;
  --radius: 10px;
  object-position: 50% 18.93%;
  margin: 13px 178px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -340px 669px 0 158px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0 158px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 156px 289px 51px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 7px;
    margin-right: 83px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -332px;
    margin-right: 555px;
    margin-left: 72px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 72px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 147px;
    margin-right: auto;
    margin-bottom: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 287px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: 314px;
    margin-top: -650px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 237px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -603px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 444px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4 .u-image-1 {
    height: 371px;
    margin-top: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -584px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 17px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 403px;
    margin-bottom: 45px;
    padding: 10px 28px;
  }
}